* {
  outline: none;
  border: none;
}

*:focus {
  outline: none;
}

body {
  overflow:hidden;
  padding:0;
  margin:0;
  background-color:#252525;
}

div {
  overflow:hidden;
  padding:0;
  margin:0;
}

#leftmenu {
    padding:0;
    margin:0;
    width:10%;
    height:100%;
    float:left;
    background-color:#252525;
}

ul {
    height:100%;
}

li {
  padding-left:8px;
  height:25px;
  line-height:25px;
  vertical-align:middle;
  font-size:14px;
  color:white;
}

#mydiv {
  position:absolute;
  float:left;
  overflow:hidden;
  padding:0;
  margin:0;
  width:90%;
  height:100%;
  left:10%;
  top:0;
  background-color:#252525;
}

#tv, #web {
  width:100%;
  height:100%;
  object-fit:fill;
}

#videoMessage {
  position:absolute;
  opacity:0.9;
  left:0px;
  top: 0px;
  background-color:#252525;
  display:none;
}

#ch_name {
  margin: 0px;
  color:yellow;
}

#secMessage {
  position:absolute;
  opacity:0.4;
  left:30vw;
  top:4vh;
  font-size:40px;
  background-color:#252525;
  display:none;
}

#sec {
  margin:0px;
  color:yellow;
}

#errorMessage {
  position:absolute;
  opacity:0.3;
  width:100%;
  left:0px;
  top:80vh;
  background-color:yellow;
  display:none;
}

#er_msg {
  color:red;
}

#menu0 {
    transition: transform 600ms;
    transform: translate(-150px, 0px);
    -ms-transition: -ms-transform 600ms;
    -webkit-transition: -webkit-transform 600ms;
    -moz-transition: -moz-transform 600ms;
    -o-transition: -o-transform 600ms;
    -ms-transform: translate(-150px, 0px);
    -webkit-transform: translate(-150px, 0px);
    -moz-transform: translate(-150px, 0px);
    -o-transform: translate(-150px, 0px);
}

#menu1 {
    transition: transform 600ms;
    transform: translate(-150px, 0px);
    -ms-transition: -ms-transform 600ms;
    -webkit-transition: -webkit-transform 600ms;
    -moz-transition: -moz-transform 600ms;
    -o-transition: -o-transform 600ms;
    -ms-transform: translate(-150px, 0px);
    -webkit-transform: translate(-150px, 0px);
    -moz-transform: translate(-150px, 0px);
    -o-transform: translate(-150px, 0px);
}
